{% extends 'base.html' %}
    {% block sidebar %}
    {% include 'inc/_sidebar.html' %}
    {% endblock %}

    {% block content %}
            <div class="col-md-9">
                {% for item in news %}
                <div class="card mt-2">
                    <div class="card-header">
                        Категория:<a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="" width="350" height="235" class="mr-3">
                            {% else %}
                                <img src="https://picsum.photos/id/1060/350/235/?blur=2" class="mr-3">
                            {% endif %}
                            <div class="media-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.content |truncatewords:100 }}</p>
                                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-muted">{{ item.created_at| date:'d-m-y H:s' }}</div
                </div>
                {% endfor %}
            </div>
    {% endblock %}
